.swiper-scrollbar {
    background: rgba(255, 255, 255, 0.24);
    height:2px !important;
    width: 92% !important;
    margin-left: 50px !important;
    margin-right: 50px !important;

}
  
  .swiper-scrollbar-drag {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    height: 1px;

  }
  
  .swiper-container-horizontal,.swiper-scrollbar {
    bottom: 200px !important;
  }

 
.shadow-overlay-swiper {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.795) 8%, rgba(247, 0, 0, 0) 50%),
                linear-gradient(to right, rgba(0, 0, 0, 0.795) 16%, rgba(0, 0, 0, 0) 50%),
                linear-gradient(to top, rgba(0, 0, 0, 0.795) 20%, rgba(0, 0, 0, 0) 80%);
    z-index: 1;
  }
  